h1 {color: whitesmoke;
    text-align: center;}
body {
  background-color: lightblue;
  font-family: "Arial", sans-serif;}
p {color:darkslategrey;
   padding: 10px;}
li::marker {color:crimson;}
li {color:lavenderblush;}
a {color:blue}
a:hover {
  text-decoration: none;}
  div {border: solid black;
background-color:lightgray;
padding: 15px;
text-align: center;
}